:root {
  font-family: Fraunces;
  font-size: 14px;
  font-weight: 700;
}

html, body, .container-fluid {
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(30deg, 38%, 92%);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
}

.attribution {
  align-self: center;
}

.button:active {
  background-color: hsl(159deg, 37%, 29%);
}

.container {
  max-width: 1440px;
}

.card {
  display: grid;
  grid-column: 5/9;
  grid-template-columns: 1fr 1fr;
  overflow-wrap: break-word;
}

.product-img {
  background: url("../images/image-product-desktop.jpg");
  background-size: cover;
  grid-column: 1;
  border-radius: 10px 0px 0px 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  grid-column: 2;
  padding: 1.8rem;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: hsl(158deg, 36%, 37%);
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 1.2rem;
  font-family: Montserrat;
}

.button img {
  align-self: center;
  height: 14px;
  margin-right: 0.8rem;
}

.product-details h1 {
  margin: 0;
  font-size: 28px;
  line-height: 1;
  color: hsl(212deg, 21%, 14%);
  margin-right: 1rem;
}

.product-details h5 {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  color: hsl(228deg, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 0;
}

.product-details p {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.6;
  color: hsl(228deg, 12%, 48%);
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.price {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 1.2rem;
}

.price h1 {
  font-size: 28px;
  color: hsl(158deg, 36%, 37%);
  margin-right: 0;
}

.price span {
  margin: auto;
  color: hsl(228deg, 12%, 48%);
  text-decoration: line-through;
  font-weight: 500;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/13;
    overflow-wrap: break-word;
  }
  .product-img {
    height: 250px;
    background: url("../images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .product-details {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 1.8rem;
  }
  .button {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: hsl(158deg, 36%, 37%);
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.2rem;
  }
  .button img {
    align-self: center;
    height: 14px;
    margin-right: 0.8rem;
  }
  .product-details h1 {
    margin: 0;
    font-size: 28px;
    line-height: 1;
    color: hsl(212deg, 21%, 14%);
  }
  .product-details h5 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    color: hsl(228deg, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
  .product-details p {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.6;
    color: hsl(228deg, 12%, 48%);
    margin-top: 1.2rem;
    margin-bottom: 0;
  }
  .price {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 1.2rem;
  }
  .price h1 {
    font-size: 28px;
    color: hsl(158deg, 36%, 37%);
    margin-right: 0;
  }
  .price span {
    margin-left: 1.5rem;
    color: hsl(228deg, 12%, 48%);
    text-decoration: line-through;
    font-weight: 500;
  }
}/*# sourceMappingURL=styles.css.map */