main{
    height: 100%;
    align-items: end;
}
.card{
    display: flex;
    flex-flow: row wrap-reverse;//
    background-color: var(--background-card);
    border-radius: 10px;
    .description{
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;//
        max-width: 100%;//
        padding: 1.7rem;//5
        text-align: center;//
        h1{
            margin-top: 0;
            margin-bottom: 2rem;
            color: white;
            span{
                color: var(--primary-accent-color);
            }
        }
        p{
            margin-top: 0;
            margin-bottom: 3rem;
            color: var(--text-headings);
            font-family: 'Lexend Deca', 'sans-serif';
            line-height: 1.5rem;//
        }
        .numbers{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 1rem;
            // grid-template-columns: repeat(3, 1fr);
            .numbers{
                grid-row: 1;
                // grid-column: 1;
            }
            .tempaltes{
                grid-row: 2;
                // grid-column: 2;
            }
            .queries{
                grid-row: 3;
                // grid-column: 3;
            }
            h1{
                margin: .5rem 0;
                font-size: 1.5rem;
            }
            span{
                color: var(--text-headings);
                font-family: 'Lexend Deca', 'sans-serif';
                font-size: .8rem;
                text-transform: uppercase;
            }
        }
    }
    .img-container{
        flex: 0 0 100%;
        max-width: 100%;
        height: 250px;
        position: relative;
        background: url('./../images/image-header-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px 10px 0 0;
    }
    .img-container::after{
        content: '';
        position: absolute;
        background: var(--primary-accent-color);
        opacity: .6;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
}
@media (min-width: 576px){
    .card{
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .card{
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .card{
        flex-flow: row nowrap;
        max-width: 100%;
        .description{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 5rem;
            .numbers{
                display: grid;
                grid-template-rows: none;
                // row-gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
                .numbers{
                    grid-row: unset;
                    grid-column: 1;
                }
                .tempaltes{
                    grid-row: unset;
                    grid-column: 2;
                }
                .queries{
                    grid-row: unset;
                    grid-column: 3;
                }
            }
        }
        .img-container{
            flex: 0 0 50%;
            max-width: 50%;
            height: auto;
            background: url('./../images/image-header-desktop.jpg');
            border-radius: 0 10px 10px 0;
        }
        .img-container::after{
            border-radius: 0 10px 10px 0;
        }
    }
}
@media (min-width: 1200px){
    .card{
        flex-direction: row;
        max-width: 100%;
    }
}