@media (max-width: 1200px)  {
    .card{
        grid-column: 4/10;
    }
}
@media (max-width: 992px)  {
    .card{
        grid-column: 3/11;
    }
}
@media (max-width: 768px)  {
    .card{
        grid-column: 2/12;
    }
}
@media (max-width: 576px)  {
    .card{
        grid-column: 1/13;
    }
}
@media (max-width: 375px)  {
    .card{
        grid-column: 1/13;
        flex-direction: column;
    }
    .product-img {
        width: auto;
        height: 25vh;
        border-radius: 10px 10px 0px 0px;
    }
    .product-details {
        width: auto;
        height: 50%;
        border-radius: 0px 0px 10px 10px;
    }
}