:root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: var(--background);
  --primary-text-color: hsl(215, 51%, 70%);
  --primary-accent-color: hsl(178, 100%, 50%);
  --background: hsl(217, 54%, 11%);
  --background-card: hsl(216, 50%, 16%);
  --divider-color: hsl(215, 32%, 27%);
  --padding: 1.2rem;
}
:root body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.attribution {
  width: 100%;
  align-self: flex-end;
  justify-content: center;
}

.container-fluid, .container {
  width: 100%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
}

.container-fluid .row,
.container .row {
  margin-right: calc(0px - var(--padding));
  margin-left: calc(0px - var(--padding));
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 575px) {
  .container {
    max-width: 494px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 494px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 912px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
main {
  height: 100%;
  align-items: end;
}

.card {
  margin: 0 auto;
  padding: var(--padding);
  background-color: var(--background-card);
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
.card .img-container {
  position: relative;
  width: auto;
  height: 250px;
  background: url("./../images/image-equilibrium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.card .img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  opacity: 0;
  transition: opacity 1s;
  border-radius: 10px;
}
.card .img-container::after {
  content: "";
  position: absolute;
  top: 105px;
  left: 110px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-accent-color);
  background: url("./../images/icon-view.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}
.card .img-container:hover::before {
  cursor: pointer;
  opacity: 0.5;
}
.card .img-container:hover::after {
  cursor: pointer;
  opacity: 1;
}
.card h1 {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transition: color 1s;
}
.card h1:hover {
  cursor: pointer;
  color: var(--primary-accent-color);
}
.card p {
  margin: 0;
  font-size: 17px;
  color: var(--primary-text-color);
}
.card .auction {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
  border-bottom: 1px solid var(--divider-color);
}
.card .auction img {
  display: inline;
  max-height: 18px;
  margin-right: 0.5rem;
  vertical-align: sub;
}
.card .auction .price {
  font-weight: 500;
  color: var(--primary-accent-color);
}
.card .auction .time {
  font-weight: 500;
  color: var(--primary-text-color);
}
.card .credits {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 14px;
  color: var(--primary-text-color);
  word-spacing: 0.1rem;
}
.card .credits img {
  width: 25px;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 100%;
}
.card .credits .name {
  color: white;
  font-weight: 400;
  transition: color 1s;
}
.card .credits .name:hover {
  cursor: pointer;
  color: var(--primary-accent-color);
}

@media (min-width: 576px) {
  .card {
    max-width: 65%;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 45%;
  }
}
@media (min-width: 992px) {
  .card {
    max-width: 33%;
  }
}
@media (min-width: 1200px) {
  .card {
    max-width: 27%;
  }
}/*# sourceMappingURL=styles.css.map */