.container-fluid, .container{
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
}
.container-fluid .row,
.container .row{
    margin-right: calc(0px - var(--padding));
    margin-left: calc(0px - var(--padding));
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
@media (max-width: 575px){
    .container{
        max-width: 494px;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 494px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 688px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 912px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1120px;
    }
}