:root{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    --primary-color: #0061EB;
    --secondary-color: #1979FF;
    --accent-color: #EB9B00;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
nav{
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 1rem;
            margin: 1rem;
            background-color: var(--primary-color);
            border-radius: 10px;
            a{
                color: white;
                text-decoration: none;
            }
        }
        li:hover{
            background-color: #EB9B00;
        }
        li .active{
            background-color: var(--secondary-color);
        }
    }
}