main{
    height: 100%;
    align-items: end;
}
.container{
    width: 100vw;
}
.col{
    padding: 5rem;
}
@media (max-width: 991px){
    .col{
        padding: 3rem 3rem 3rem 0;
    }
}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 490px;
        margin: .5rem;
        padding-bottom: 1.5rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, .3);
    @media (max-width: 767px){
        .img-container{
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 5rem;
            .img-box{
                z-index: 3;
                position: absolute;
                bottom: 57%;
                left: -46%;
                height: 70%;
                width: 70%;
                background-image: url('./../images/illustration-box-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-main{
                z-index: 2;
                position: absolute;
                left: -50%;
                bottom: 11%;
                height: 200%;
                width: 200%;
                background: url('./../images/illustration-woman-online-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-shadow{
                z-index: 1;
                position: absolute;
                right: -50%;
                bottom: 0;
                height: 200%;
                width: 200%;
                background-image: url('./../images/bg-pattern-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
        }
    }
    @media (min-width: 768px){
        .img-container{
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 5rem;
            .img-box{
                z-index: 3;
                position: absolute;
                bottom: 37%;
                left: -105%;
                height: 120%;
                width: 120%;
                background-image: url('./../images/illustration-box-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-main{
                z-index: 2;
                position: absolute;
                left: -100%;
                bottom: -23%;
                height: 300%;
                width: 300%;
                background: url('./../images/illustration-woman-online-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-shadow{
                z-index: 1;
                position: absolute;
                right: -100%;
                bottom: -23%;
                height: 300%;
                width: 300%;
                background-image: url('./../images/bg-pattern-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
        }
    }
    @media (min-width: 992px){
        display: flex;
        flex-direction: unset;
        align-items: unset;
        height: 490px;
        margin: 2rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, .3);
        .img-container{
            position: relative;
            flex: 0 0 50%;
            max-width: 50%;
            .img-box{
                z-index: 3;
                position: absolute;
                bottom: 21%;
                left: -18%;
                height: 40%;
                width: 40%;
                background-image: url('./../images/illustration-box-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-main{
                z-index: 2;
                position: absolute;
                padding-left: 89px;
                left: -21.5%;
                bottom: 11%;
                height: 80%;
                width: 100%;
                background: url('./../images/illustration-woman-online-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
                background-clip: content-box;
            }
            .img-shadow{
                z-index: 1;
                position: absolute;
                padding: 65.3% 0% 43% 121%;
                bottom: -42%;
                right: 21%;
                height: 200%;
                width: 200%;
                background-image: url('./../images/bg-pattern-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
                background-clip: content-box;
            }
        }
        .faq-container{
            padding: calc(2 * var(--padding));
            padding-left: 0;
            .faq{
                padding: 0;
                margin: 0 6rem 0 0;
                list-style: none;
                h1{
                    margin: 3rem 0;
                }
                li{
                    border-bottom: 1px solid var(--divider-color);
                    max-height: 55px;
                    transition: max-height .5s linear;
                }
                li:hover{
                    cursor: pointer;
                }
                li:hover span{
                    color: var(--primary-accent-color);
                }
                span{
                    display: block;
                    position: relative;
                    margin: 1.5rem 0;
                    font-size: 1.1rem;
                }
                img{
                    position: absolute;
                    top: 4px;
                    right: 10px;
                    transition: transform .1s;
                }
                p{
                    height: 0px;
                    margin: 0;
                    opacity: 0;
                    transform: translateY(-50%);
                    transition: height .5s, opacity .5s, transform .5s linear;
                }
                .active{
                    max-height: 100px;
                    padding-bottom: 1.5rem;
                    span{
                        font-weight: 700;
                        color: var(--primary-color);
                    }
                    p{
                        height: 100%;
                        margin-right: 2rem;
                        opacity: 1;
                        transform: translateY(0%);
                    }
                    img{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    @media (min-width: 1200px){
        .img-container{
            position: relative;
            .img-box{
                z-index: 3;
                position: absolute;
                bottom: 21%;
                left: -18%;
                height: 40%;
                width: 40%;
                background-image: url('./../images/illustration-box-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .img-main{
                z-index: 2;
                position: absolute;
                padding-left: 89px;
                left: -17%;
                bottom: 11%;
                height: 80%;
                width: 100%;
                background: url('./../images/illustration-woman-online-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
                background-clip: content-box;
            }
            .img-shadow{
                z-index: 1;
                position: absolute;
                padding: 57% 0% 30% 110%;
                bottom: -37%;
                right: 10%;
                height: 200%;
                width: 200%;
                background-image: url('./../images/bg-pattern-desktop.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
                background-clip: content-box;
            }
        }
    }
    @media (max-width: 991px){
        .faq-container{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
            .faq{
                padding: calc(2 * var(--padding));
                padding-top: 0;
                margin: 0;
                list-style: none;
                h1{
                    margin: 3rem 0;
                    text-align: center;
                }
                li{
                    border-bottom: 1px solid var(--divider-color);
                    max-height: 55px;
                    transition: max-height .5s linear;
                }
                li:hover{
                    cursor: pointer;
                }
                li:hover span{
                    color: var(--primary-accent-color);
                }
                span{
                    display: block;
                    position: relative;
                    margin: 1.5rem 0;
                    font-size: 1.1rem;
                }
                img{
                    position: absolute;
                    top: 4px;
                    right: 10px;
                    transition: transform .1s;
                }
                p{
                    height: 0px;
                    margin: 0;
                    opacity: 0;
                    transform: translateY(-50%);
                    transition: height .5s, opacity .5s, transform .5s linear;
                }
                .active{
                    max-height: 100px;
                    padding-bottom: 1.5rem;
                    span{
                        font-weight: 700;
                        color: var(--primary-color);
                    }
                    p{
                        height: 100%;
                        margin-right: 2rem;
                        opacity: 1;
                        transform: translateY(0%);
                    }
                    img{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}