.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 575px){
    body{
        width: fit-content;
    }
    .container{
        max-width: 494px;
        padding-left: var(--padding);
        padding-right: var(--padding);
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 494px;
        padding-left: var(--padding);
        padding-right: var(--padding);
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px){
        .container{
            max-width: 688px;
            padding-left: var(--padding);
            padding-right: var(--padding);
            margin-left: auto;
            margin-right: auto;
        }
}
@media (min-width: 992px){
    .container{
        max-width: 912px;
        padding-left: var(--padding);
        padding-right: var(--padding);
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1120px;
        padding-left: var(--padding);
        padding-right: var(--padding);
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
        padding-left: var(--padding);
        padding-right: var(--padding);
        margin-left: auto;
        margin-right: auto;
    }
}