:root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(to bottom, var(--background-top), var(--background-bottom));
  --primary-text-color: hsl(238, 29%, 16%);
  --primary-accent-color: hsl(14, 88%, 65%);
  --secondary-text-color: hsl(237, 12%, 33%);
  --secondary-accent-color: hsl(240, 6%, 50%);
  --background-top: hsl(273, 75%, 66%);
  --background-bottom: hsl(240, 73%, 65%);
  --divider-color: hsl(240, 5%, 91%);
  --padding: 0;
}
:root body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.attribution {
  width: 100%;
  align-self: flex-end;
  justify-content: center;
}

.container-fluid, .container {
  width: 100%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
}

.container-fluid .row,
.container .row {
  margin-right: calc(0px - var(--padding));
  margin-left: calc(0px - var(--padding));
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 575px) {
  .container {
    max-width: 494px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 494px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 912px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
main {
  height: 100%;
  align-items: end;
}

.container {
  width: 100vw;
}

.col {
  padding: 5rem;
}

@media (max-width: 991px) {
  .col {
    padding: 3rem 3rem 3rem 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem 2rem 4rem 2rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .card .img-container {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 5rem;
  }
  .card .img-container .img-box {
    z-index: 3;
    position: absolute;
    bottom: 57%;
    left: -46%;
    height: 70%;
    width: 70%;
    background-image: url("./../images/illustration-box-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-main {
    z-index: 2;
    position: absolute;
    left: -50%;
    bottom: 11%;
    height: 200%;
    width: 200%;
    background: url("./../images/illustration-woman-online-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-shadow {
    z-index: 1;
    position: absolute;
    right: -50%;
    bottom: 0;
    height: 200%;
    width: 200%;
    background-image: url("./../images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (min-width: 768px) {
  .card .img-container {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 5rem;
  }
  .card .img-container .img-box {
    z-index: 3;
    position: absolute;
    bottom: 37%;
    left: -105%;
    height: 120%;
    width: 120%;
    background-image: url("./../images/illustration-box-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-main {
    z-index: 2;
    position: absolute;
    left: -100%;
    bottom: -23%;
    height: 300%;
    width: 300%;
    background: url("./../images/illustration-woman-online-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-shadow {
    z-index: 1;
    position: absolute;
    right: -100%;
    bottom: -23%;
    height: 300%;
    width: 300%;
    background-image: url("./../images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
}
@media (min-width: 992px) {
  .card {
    display: flex;
    flex-direction: unset;
    align-items: unset;
    height: 490px;
    margin: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  }
  .card .img-container {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card .img-container .img-box {
    z-index: 3;
    position: absolute;
    bottom: 21%;
    left: -18%;
    height: 40%;
    width: 40%;
    background-image: url("./../images/illustration-box-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-main {
    z-index: 2;
    position: absolute;
    padding-left: 89px;
    left: -28%;
    bottom: 11%;
    height: 80%;
    width: 100%;
    background: url("./../images/illustration-woman-online-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
  }
  .card .img-container .img-shadow {
    z-index: 1;
    position: absolute;
    padding: 53.5% 0% 31.3% 115%;
    bottom: -42%;
    right: 21%;
    height: 200%;
    width: 200%;
    background-image: url("./../images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
  }
  .card .faq-container {
    padding: calc(2 * var(--padding));
    padding-left: 0;
  }
  .card .faq-container .faq {
    padding: 0;
    margin: 0 6rem 0 0;
    list-style: none;
  }
  .card .faq-container .faq h1 {
    margin: 3rem 0;
  }
  .card .faq-container .faq li {
    border-bottom: 1px solid var(--divider-color);
    max-height: 55px;
    transition: max-height 0.5s linear;
  }
  .card .faq-container .faq li:hover {
    cursor: pointer;
  }
  .card .faq-container .faq li:hover span {
    color: var(--primary-accent-color);
  }
  .card .faq-container .faq span {
    display: block;
    position: relative;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .card .faq-container .faq img {
    position: absolute;
    top: 4px;
    right: 10px;
    transition: transform 0.1s;
  }
  .card .faq-container .faq p {
    height: 0px;
    margin: 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: height 0.5s, opacity 0.5s, transform 0.5s linear;
  }
  .card .faq-container .faq .active {
    max-height: 100px;
    padding-bottom: 1.5rem;
  }
  .card .faq-container .faq .active span {
    font-weight: 700;
    color: var(--primary-text-color);
  }
  .card .faq-container .faq .active p {
    height: 100%;
    margin-right: 2rem;
    opacity: 1;
    transform: translateY(0%);
  }
  .card .faq-container .faq .active img {
    transform: rotate(180deg);
  }
}
@media (min-width: 1200px) {
  .card .img-container {
    position: relative;
  }
  .card .img-container .img-box {
    z-index: 3;
    position: absolute;
    bottom: 21%;
    left: -21%;
    height: 40%;
    width: 40%;
    background-image: url("./../images/illustration-box-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  .card .img-container .img-main {
    z-index: 2;
    position: absolute;
    padding-left: 89px;
    left: -22%;
    bottom: 11%;
    height: 80%;
    width: 100%;
    background: url("./../images/illustration-woman-online-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
  }
  .card .img-container .img-shadow {
    z-index: 1;
    position: absolute;
    padding: 46.7% 0% 20.8% 105.4%;
    bottom: -37%;
    right: 10%;
    height: 200%;
    width: 200%;
    background-image: url("./../images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
  }
}
@media (max-width: 991px) {
  .card .faq-container {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .card .faq-container .faq {
    padding: calc(2 * var(--padding));
    padding-top: 0;
    margin: 0;
    list-style: none;
  }
  .card .faq-container .faq h1 {
    margin: 3rem 0;
    text-align: center;
  }
  .card .faq-container .faq li {
    border-bottom: 1px solid var(--divider-color);
    max-height: 55px;
    transition: max-height 0.5s linear;
  }
  .card .faq-container .faq li:hover {
    cursor: pointer;
  }
  .card .faq-container .faq li:hover span {
    color: var(--primary-accent-color);
  }
  .card .faq-container .faq span {
    display: block;
    position: relative;
    margin: 1.5rem 0;
    font-size: 1.1rem;
  }
  .card .faq-container .faq img {
    position: absolute;
    top: 4px;
    right: 10px;
    transition: transform 0.1s;
  }
  .card .faq-container .faq p {
    height: 0px;
    margin: 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: height 0.5s, opacity 0.5s, transform 0.5s linear;
  }
  .card .faq-container .faq .active {
    max-height: 100px;
    padding-bottom: 1.5rem;
  }
  .card .faq-container .faq .active span {
    font-weight: 700;
    color: var(--primary-text-color);
  }
  .card .faq-container .faq .active p {
    height: 100%;
    margin-right: 2rem;
    opacity: 1;
    transform: translateY(0%);
  }
  .card .faq-container .faq .active img {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=styles.css.map */