:root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: hsl(212deg, 45%, 89%);
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(220, 15%, 55%);
  --padding: 1rem;
}
:root body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.attribution {
  width: 100%;
  align-self: flex-end;
  justify-content: center;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 575px) {
  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container {
    max-width: 494px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 494px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 688px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 912px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
main {
  height: 100%;
  align-items: end;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 10px;
}
.card h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}
.card p {
  font-weight: 400;
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

@media (max-width: 575px) {
  .card h1 {
    font-size: 30px;
  }
  .card p {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */