:root{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(212, 45%, 89%);
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(220, 15%, 55%);
    --padding: 1rem;
    body{
        height: 100%;
        margin: 0;
    }
}
*{
    box-sizing: border-box;
}
.attribution {
    width: 100%;
    align-self: flex-end;
    justify-content: center;
}