.card{
    display: flex;
    grid-column: 5/9;
    height: fit-content;
    width: fit-content;
    overflow-wrap: break-word;
    position: relative;
    background: linear-gradient(to bottom, var(--card-color), hsl(215, 27%, 12%));
    border-radius: 2rem;
    margin: 1rem;
    padding: 1.8rem;
    .rate{
        z-index: 2;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
        transition: position 1s, opacity 1s;
    }
    .active{
        color: white;
        background-color: var(--accent-color);
    }
    .img-container{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;;
        background-color: var(--secondary-color);
        border-radius: 100%;
    }
    img{
        fill: var(--primary-color);
    }
    h1{
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color);
    }
    ul{
        display: flex;
        justify-content: space-between;
        padding: .5rem 0 .5rem 0;
        list-style: none;
    }
    li{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
        width: 50px;
        height: 50px;
        color: var(--text-color);
        background-color: var(--secondary-color);
        border-radius: 100%;
    }
    span{
        height: 15px;
        line-height: 17px;
    }
    li:hover{
        color: white;
        background-color: var(--primary-color);
        cursor: pointer;
    }
    a{
        display: flex;
        justify-content: center;
        padding: .8rem;
        font-size: 14px;
        font-weight: 700;
        color: white;
        letter-spacing: .2rem;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--primary-color);
        border-radius: 20px;
    }
    a:hover{
        background-color: white;
        color: var(--primary-color);
    }
    .thankYou{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: position 1s, opacity 1s;
        .img-container{
            width: fit-content;
            height: fit-content;
            margin: 1rem;
        }
        .rating{
            width: fit-content;
            height: 14px;
            margin: 1rem;
            padding: .5rem 1rem .5rem 1rem;
            font-size: 12px;
            letter-spacing: 1px;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            border-radius: 2rem;
        }
        h1{
            margin-bottom: 0;
        }
    }
}