@media (max-width: 1200px)  {
    .card{
        grid-column: 4/10;
    }
}
@media (max-width: 992px)  {
    .card{
        grid-column: 3/11;
    }
}
@media (max-width: 768px)  {
    .card{
        grid-column: 2/12;
    }
}
@media (max-width: 576px)  {
    .card{
        grid-column: 1/13;
    }
}
@media (max-width: 375px)  {
    .card{
        grid-column: 1/13;
        flex-direction: column;
        margin: 0;
        .img-container{
            height: 45px;
            width: 45px;      
        }
        h1{
            font-size: 26px;;
        }
        p{
            font-size: 14px;
        }
        li{
            height: 45px;
            width: 45px;
        }
    }
}