.container {
    max-width: 1440px;
}
.card {
    display: grid;
    grid-column: 5/9;
    grid-template-columns: 1fr 1fr;
    overflow-wrap: break-word;
}
.product-img {
    background: url('../images/image-product-desktop.jpg');
    background-size: cover;
    grid-column: 1;
    border-radius: 10px 0px 0px 10px;
}
.product-details {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    grid-column: 2;
    padding: 1.8rem;
}
.button {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    padding: .8rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.2rem;
    font-family: Montserrat;
}
.button img {
    align-self: center;
    height: 14px;
    margin-right: .8rem;
}
.product-details h1 {
    margin: 0;
    font-size: 28px;
    line-height: 1;
    color: $accent;
    margin-right: 1rem;
}
.product-details h5 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    color: $text;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-top: 0;
}
.product-details p {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.6;
    color: $text;
    margin-top: 1.2rem;
    margin-bottom: 0;
}
.price {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 1.2rem;
}
.price h1 {
    font-size: 28px;
    color: $primary-color;
    margin-right: 0;
}
.price span {
    margin: auto;
    color: $text;
    text-decoration: line-through;
    font-weight: 500;
}